/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FIN RESET CSS------------------------------------------------------------------------------------------------------------------ */

/* bibliotheque*/

.center {
  text-align:                 center;
	font-family:               'Anton', sans-serif;
	font-size: 									3em;
}

.colorwhite {
	color:                      white;
}

p {
	font-size: 									1.3em;
}

span {
	font-weight: 								bold;
}

/*  boutons inscription et connection + le RESPONSIVE de ces 2 boutons_________________ */
 @media screen and (max-width: 600px)
{
    .buttonbase
    {
      justify-content: 					space-around;
    }
}

.buttonbase {
  display:											flex;
  justify-content: 							flex-end;
  padding: 											10px 10px;
  margin-left: 									12px;
}

.buttonbase a {
 text-decoration: 							none;
}


.btn-connection {
  margin-right: 								25px;
  background-color:							#00123a;
  border-radius: 								15px;
  border: 											solid #a9dfff;
  color: 												white;
}

.btn-inscription {
  background-color:							#00123a;
  border-radius: 								15px;
  border:  											solid #a9dfff;
  color: 												white;
}

.btn-connection:hover, .btn-connection:active {
	border: 											solid 4px #1F645A;
	background:  									white;
	overflow: 										visible;
}
.btn-inscription:hover, .btn-inscription:active {
	border: 											solid 4px #1F645A;
	background:  									white;
	overflow: 										visible;
}

/* menu background et h1 h2 de l'entête et responsive _________________________________ */
.h1entete  {
  font-family:               	'Anton', sans-serif;
  font-size:                 	 5em;
  color:                     	 white;
  text-align:                 center;
	margin-top: 								-0.4em;
}

 .h2entete {
   font-family:              	 'Anton', sans-serif;
   font-size:                  2em;
   color:                      white;
   text-align:                 center;
}

 @media screen and (max-width: 900px) {
        .h1entete {
          font-size:                	4em;
					margin-top: 								-0.2em;
        }
				.buttonbase {
				  display:										flex;
				  justify-content: 						space-around;
				}
				.center {
			    text-align: center;
			    font-family: 								'Anton', sans-serif;
			    font-size: 									2em;
				}
				.igros {
					float: 											left;
				}
				.intro {
			    margin-top: 								12vw;
			    margin-bottom: 							12vw;
			    font-size: 									1em;
			    display: 										flex;
			    flex-direction: 						column;
					justify-content: 						space-around;
				}
				.interesponsive {
					padding-top: 								2vh;
				}

				.barrederecherche {
			    display: 										flex;
					flex-direction: 						column;
			    justify-content: 						space-around;
			    padding-bottom: 						12vh;
				}
				.inputrecherc {
				    overflow: 								visible;
				    width: 										96%!important;
				    padding: 									0.6em;
				    border-radius: 						2%;
				    margin: 									2vw;
				}
				.buttonrecherc {
						border:  									solid #a9dfff;
				    border-radius: 						11%;
				    font-size: 								1.3em;
				    width: 										46%;
				    margin-left: 							12vh;
				    margin-top: 							6vw;
				}
				.sizeresponsive{
					 font-size: 								1em;
				}
}

/* les bakground de toutes les pages */

.menutitle {
  background: url("../images/fond5.jpg") no-repeat center center;
  width: 															100%;
  height:															680px;
}

.menuCommunauty{
  background: url("../images/fond1.jpg") no-repeat center center;
  width: 															100%;
  height:															680px;
}
.menufaq{
  background: url("../images/fond7.jpg") no-repeat center center;
  width: 															100%;
  height:															680px;
}

.menuactu{
  background: url("../images/fond8.jpg") no-repeat center center;
  width: 															100%;
  height:															680px;
}

.bgrecherche {
	background: url("../images/fond5.jpg") no-repeat center center;

}

/* Menu pop-up ___________________________________ */
.menu {
  margin-top:													-13vh;
  position: 													relative;
}
 @media all and  (max-width: 600px){
	.menu {
	  margin-top:												-20vh;
	  position: 												relative;
	}
}

a {
  color: 														inherit;
	text-decoration: 									none;
	}
}

.menu {
  -webkit-filter: url("#goo");
  filter: url("#goo");
}

.menu-item, .menu-open-button {
  background: #2162c6;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -44px;
  margin-top: 227px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: 										absolute;
  left: 												50%;
  margin-left: 									-179px;
  padding-top: 									20px;
  padding-left: 								190px;
  width: 												380px;
  height: 											250px;
  box-sizing: 									border-box;
  font-size: 										20px;
  text-align: 									left;
}

.menu-item:hover {
  background: white;
  color: #1D695F;
}
.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}
.menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}
.menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}
.menu-item:nth-child(9) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
  -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
  transform: translate3d(0.08361px, -104.99997px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 280ms;
  transition-duration: 280ms;
  -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
  transform: translate3d(90.9466px, -52.47586px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 380ms;
  transition-duration: 380ms;
  -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
  transform: translate3d(90.9466px, 52.47586px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 480ms;
  transition-duration: 480ms;
  -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
  transform: translate3d(0.08361px, 104.99997px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
  -webkit-transition-duration: 580ms;
  transition-duration: 580ms;
  -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
  transform: translate3d(-90.86291px, 52.62064px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(8) {
  -webkit-transition-duration: 680ms;
  transition-duration: 680ms;
  -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
  transform: translate3d(-91.03006px, -52.33095px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(9) {
  -webkit-transition-duration: 780ms;
  transition-duration: 780ms;
  -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
  transform: translate3d(-0.25084px, -104.9997px, 0);
}

/* PAGE ACCUEIL--------------------------------------------- */
/* intertitre__________________________________________ */
.bgblue {
  background: 								#f0f0f2;
}

.container {
  padding-top: 								1%;
}
.titre {
  text-align: 								center;
}

.intro {
  margin-top: 								40px;
  margin-bottom: 							40px;
	font-size: 									1em;
}
.intertitre {
    margin-top: 							5vh;
}

h2 {
	font-size: 									0.8em;
}

h3 {
	font-family:               'Anton', sans-serif;
	font-size:                  1.5em;
	color:                      black;
	text-align:                 center;
}

.igros {
    font-size: 								169%;
    padding-bottom: 					2vh;
}

.border-ligne {
		border-width:							1px;
		border-style:							solid;
		border-color:							black;
		width: 										80%;
		margin-bottom: 						3%;
		margin-top: 							3%;
		margin-left: 							10%;
}



/* corps du texte __________________________________________*/

.taille-image {
  width: 											100%;
}

.barrederecherche {
	display: 										flex;
	justify-content: 						space-around;
	padding-bottom: 						10vh;
}

.inputrecherc {
		overflow: 								visible;
    width: 										32%;
    padding: 									0.8em;
    border-radius: 						2%;
		border:  										solid #236853;
}

.buttonrecherc {
		border:  										solid #236853;
		border-radius: 							2%;
		font-size: 									1.2em;
}

	.buttonrecherc:hover, .buttonrecherc:active {
		border:  										solid white;
}
	.button-profil:hover, .button-profil:active {
		border: 										solid 2px #010b52;
		width: 											202px;
		height: 										47px;
}


.recrutdev {
	/* background: linear-gradient( to right, #02B8F7,#D5F866); */

  background:  #02B8F7;
  animation-name: fondbouge;
  animation-duration: 4s;
	animation-delay: 2s;
	animation-iteration-count: infinite;
	  animation-direction: alternate;
		/* alternate permet de continuer fluidement l'animation sans que ça reparte du jaune au bleu d'un coup */
}

@keyframes fondbouge {
  from {background-color: #02B8F7;}
  to {background-color: #D5F866;}
}

.pagerecrutdev {
  background-image: url("../images/community.png");
  position: 									relative;
  background-size: 						cover;
}

.dev {
	display:										flex;
	flex-direction: 						column;
	justify-content: 						space-around;
	font-size: 									1.3em;
	align-items: 								center;
}

ol, ul {
  list-style: 								none;
  margin-bottom: 							-2vh;
}

.button-profil {
    border: 								2px solid #3f3f3f;
    background-color: 			inherit;
    width: 									184px;
    height: 								47px;
    display: 								flex;
    flex-direction: 				column;
    justify-content: 				center;
    align-items: 						center;
    border-radius: 					3%;
    font-size: 							1.1em;
    margin-bottom: 					7vh;
}
.button-profil:hover, .button-profil:active {
	border: 										solid 2px #036CAF;
	width: 											184px;
	height:										  47px;
}

.imagedev {
	padding-bottom: 1vh;
}

/* PAGE CONTACT __ PAGE INSCRIPTION__ PAGE__CONNECTION_______________________________________________________________ */
.bgContact {
  background: url("../images/fond5.jpg") no-repeat center center;
	background-size: 						131%;
	background-attachment: 			fixed;
}

.bgConnexion {
  background: url("../images/fond6.jpg") no-repeat center center;
	background-size: 						100%;
	background-attachment: 			fixed;
}
.bgInscription{
  background: url("../images/fond11.jpg") no-repeat center center;
	background-size: 						100%;
	background-attachment: 			fixed;
}

.titrehome {
	font-family:               'Anton', sans-serif;
  font-size:                  3em;
  color:                      white;
	text-shadow: 								4px 5px 0 #184d96, 0 4px 0 #184d96;
	margin: 										20px 20px;
}

.row a {
 text-decoration: 						none;
}

/* PAGE CONTACT */
/* ANIMATION SUR LES 3 PAGES CONTACT INSCRIPTION ET CONNEXION */
.focus-in-expand-fwd {
	-webkit-animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
	        animation: focus-in-expand-fwd 0.8s cubic-bezier(0.250, 0.460, 0.450, 0.940) both;
}

@-webkit-keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
@keyframes focus-in-expand-fwd {
  0% {
    letter-spacing: -0.5em;
    -webkit-transform: translateZ(-800px);
            transform: translateZ(-800px);
    -webkit-filter: blur(12px);
            filter: blur(12px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateZ(0);
            transform: translateZ(0);
    -webkit-filter: blur(0);
            filter: blur(0);
    opacity: 1;
  }
}
/* fin animation pris sur animista https://animista.net/play/text/focus-in/focus-in-expand-fwd */

.formulaireContact {
    display: 									flex;
    flex-direction: 					column;
    margin: 									-9vh 34vw 5vh 34vw;
    border: 									#89B5B1 solid 2px;
    box-shadow: 							1px 1px 12px #555;
    background: 							#184d96;
}

.caseAlignement {
	display: 										flex;
	flex-direction: 						column;
	align-content: 							center;
	justify-content: 						center;
	padding: 										1vh 2vw;
}

.formulaireContact h2 {
	font-family:               'Anton', sans-serif;
	margin: 										8vh 0;
  color: 											white;
	font-size: 									2.5rem;
  text-align: 								center;
}

.lignedestinataire {
	display: 										flex;
	flex-direction: 						column;
}

.lignedestinataire p {
	color: 											white;
	padding:		 								0 0 1vh 5vw;
	font-size: 									1.2em;
}

.formulaireContact .contactLabel {
	color: 											white;
	text-align: 								left;
	font-size: 									1.2em;
	margin: 										1vh;
}
/* page inscription */
.button-inscription {
	color: 											white;
	background-color: 					inherit;
	width: 											192px;
	height: 										47px;
	display: 										flex;
	flex-direction: 						column;
	justify-content: 						center;
	align-items: 								center;
	border-radius: 							3%;
	font-size: 									1.2em;
	margin-left: 								7vw;
}

.button-connecter {
	color: 											white;
	background-color: 					inherit;
	width: 											130px;
	height: 										30px;
	display: 										flex;
	flex-direction: 						column;
	justify-content: 						center;
	align-items: 								center;
	border-radius: 							3%;
	font-size: 									0.8em;
	margin-left: 								9vw;
}

.documentLabel {
	color: 											white;
	margin: 										2vh 5vw 0 5vw;
	font-size: 									1.3em;
	font-weight: 								bold;
	border: 										solid 2px white;
	background-color: 					inherit;
	padding: 										2vh 2vw;
	cursor: 										pointer;
	text-align: 								center;
}

.detailpassword {
	font-size: 									1em;
	padding-top: 								1vh;
}

.input-file {
	opacity: 										0;
}

.preview {
	    color: 									white;
	    text-align: 						center;
	    margin: 								0vh 4vw;
	    font-size: 							1em;
}

.envoyer {
	font-size: 									1em;
	font-weight: 								bold;
	border: 										solid 2px white;
	background-color: 					inherit;
	margin: 										5vh 12vw;
	padding: 										2vh 2vw;
	color: 											white;
	cursor: 										pointer;
}

.envoyer:hover, .envoyer:active {
	border: 										solid 4px #1F645A;
}
.documentLabel:hover, .documentLabel:active {
	border: 										solid 4px #1F645A;
}

@media screen and (max-width: 1200px) {

			.bgContact {
				background-size: 					342%;
			}
			.titrehome {
				margin: 2vh 16vw;
				text-shadow: 4px 5px 0 #184d96, 0 4px 0 #184d96;
			}
      .formulaireContact
      {
        margin: 									0 8vw 5vh 8vw;
        padding: 									0 0 9vh 0;
      }

      .formulaireContact h2
      {
        margin: 									5vh 0;
        font-size: 								2em;
      }

      .formulaireContact .contactLabel
      {
        font-size: 								1em;
      }

       .formulaireConnexion .contactInput, select {
        margin: 									2vh 5vw;
        padding: 									1.5vh 1vw;
        font-size: 								0.8em;
      }

      textarea {
      margin: 										2vh 5vw 0 5vw;
      }

      .envoyer {
        margin: 									0 28vw;
        padding: 									1vh 7vw;
      }
			.row-center .envoyer {
				margin: 									4vh 22vw;
			}

			.envoyer:hover, .envoyer:active {
				border: 										solid 4px #1F645A;
			}
			.documentLabel:hover, .documentLabel:active {
				border: 										solid 4px #1F645A;
			}

			.button-connecter {
    		margin-left: 								20vw;
		  }
			.button-inscription {
    		margin-left: 								13vw;
		  }
			.dev{
				padding-bottom: 						2vh;
			}
			.button-profil {
		    width: 											167px;
		    height: 										42px;
		    font-size: 									1em;
		    padding-bottom: 						center;
		    padding-bottom: 						2vh;
				margin-top: 								1em;
			}
			.taille-image {
		    width: 											100%;
		    margin-top: 								-8vh;
		  }
}

/* le FAQ --------------------------------------------------------------------*/
.recrutdev1{
  	background: linear-gradient(#3B3A7E,#E5E3EB);
}

.accordion , .hfaq {
  width: 												64%;
  margin: 											2vh auto;
}
.card-header {
  background: 									#7cd4ff;
}
.btn-link {
    color: 											black;
}
.btn-link:focus, .btn-link:hover {
    color: 											#20787A;
    text-decoration: 						none;
}

.button-faq {
	border: 											2px solid #3f3f3f;
	background-color: 						inherit;
	width: 												189px;
	height: 											62px;
	display: 											flex;
	flex-direction: 							column;
	justify-content: 							center;
	align-items: 									center;
	border-radius: 								3%;
	font-size: 										1em;
	margin-bottom: 								7vh;
}
.button-faq:hover, .button-faq:active {
	border: 											solid 2px white;
	width: 												189px;
	height:										  	62px;
}

/* la communauté --------------------------------------------------------------*/


.btn-floating i {
    font-size: 									1.25rem;
    line-height: 								47px;
    display: 										inline-block;
    width: 											inherit;
    text-align: 								center;
    color: 											#fff;
}

.carousel-multi-item .controls-top .btn-floating {
    background: #02B8F7;
}
a.waves-effect, a.waves-light {
    display: inline-block;
}
.btn-floating {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
  }
	.btn-primary {
    color: #fff;
    background-color: #02B8F7;
    border-color:#02B8F7;
}
  .controls-top {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  .carousel-indicators .active {
    opacity: 0;
}

/* ACTUALITES___________________________________ */

.actualites-geekzone {
		width: 											57%;
		line-height: 								2;
		background-color: 					#C4F1FF;
    border: 										1px solid #3B8EC4;
    border-radius: 							5px;
		margin: 										0vh 24vw;
    padding: 										3vh 3vw;
		margin:
}

.actualites-geekzone h4 {
	 color: 											#31597C;
	 font-size: 									1.4em;
	 line-height: 								3;

}


.actu{
	  width: 											100%;
		margin: 										0vh 23vw 1vh -11vw;
		font-size: 									1.3em;
		cursor: 										pointer;
		text-align: 								left;
}

/* FOOTER________________________________________________________ */
.rowfooter {
	display: 									flex;
	flex-wrap: 								wrap;
	justify-content: 					center;
	align-items: 							center;
	align-content: 						center;
	padding: 									2vh 0vw 2vh 0vw;
}

.rowfooter1 {
	display: 									flex;
	flex-direction: 					column;
	justify-content: 					space-around;
	align-items: 							center;
	margin: 									28px 9vw;
}

.icone {
	padding:									10px;
	font-size: 								180%;
}

a {
 text-decoration: 							none;
}
