/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

/* FIN RESET CSS------------------------------------------------------------------------------------------------------------------ */

.center {
  text-align:                 center;
	font-family:               'Anton', sans-serif;
	font-size: 									3em;
}

.colorwhite{
	color:                      white;
}
/* boutons inscription et connection */
 @media screen and (max-width: 600px)
{
    .buttonbase
    {
      justify-content: space-around;
    }
}

.buttonbase {
  display:											flex;
  justify-content: 							flex-end;
  padding: 											10px 10px;
  margin-left: 									12px;
}

.btn-connection {
  margin-right: 								25px;
  background-color:							#00123a;
  border-radius: 								15px;
  border: 											solid #a9dfff;
  color: 												white;
}

.btn-inscription {
  background-color:							#00123a;
  border-radius: 								15px;
  border:  											solid #a9dfff;
  color: 												white;
}

.btn-connection:hover, .btn-connection:active {
	border: 										solid 4px #1F645A;
	background:  white;
}
.btn-inscription:hover, .btn-inscription:active {
	border: 										solid 4px #1F645A;
}
/* menu background et h1 h2 de l'entête _____________________________________ */
.h1entete  {
  font-family:               	'Anton', sans-serif;
  font-size:                 	 5em;
  color:                     	 white;
  text-align:                 	center;
}


 .h2entete {
   font-family:              	 'Anton', sans-serif;
   font-size:                  2em;
   color:                      white;
   text-align:                 center;
}


 @media screen and (max-width: 600px) {
        .h1entete {
          font-size:                  4em;
        }
}

.menutitle {
  background: url("../images/fond5.jpg") no-repeat center center;
  width: 															100%;
  height:															680px;
}

.menuCommunauty{
  background: url("../images/fond1.jpg") no-repeat center center;
  width: 															100%;
  height:															680px;
}
.menufaq{
  background: url("../images/fond7.jpg") no-repeat center center;
  width: 															100%;
  height:															680px;
}

.menuactu{
  background: url("../images/fond8.jpg") no-repeat center center;
  width: 															100%;
  height:															680px;
}

/* Menu pop-up ___________________________________ */
.menu {
  margin-top:													-17vh;
  position: 													relative;
}
 @media all and  (max-width: 600px){
	.menu {
	  margin-top:												-20vh;
	  position: 												relative;
	}
}

a {
  color: 															inherit;
}

.menu {
  -webkit-filter: url("#goo");
  filter: url("#goo");
}

.menu-item, .menu-open-button {
  background: #2162c6;
  border-radius: 100%;
  width: 80px;
  height: 80px;
  margin-left: -44px;
  margin-top: 227px;
  position: absolute;
  top: 20px;
  color: white;
  text-align: center;
  line-height: 80px;
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
  -webkit-transition: -webkit-transform ease-out 200ms;
  transition: -webkit-transform ease-out 200ms;
  transition: transform ease-out 200ms;
  transition: transform ease-out 200ms, -webkit-transform ease-out 200ms;
}

.menu-open {
  display: none;
}

.hamburger {
  width: 25px;
  height: 3px;
  background: white;
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -12.5px;
  margin-top: -1.5px;
  -webkit-transition: -webkit-transform 200ms;
  transition: -webkit-transform 200ms;
  transition: transform 200ms;
  transition: transform 200ms, -webkit-transform 200ms;
}

.hamburger-1 {
  -webkit-transform: translate3d(0, -8px, 0);
  transform: translate3d(0, -8px, 0);
}

.hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hamburger-3 {
  -webkit-transform: translate3d(0, 8px, 0);
  transform: translate3d(0, 8px, 0);
}

.menu-open:checked + .menu-open-button .hamburger-1 {
  -webkit-transform: translate3d(0, 0, 0) rotate(45deg);
  transform: translate3d(0, 0, 0) rotate(45deg);
}
.menu-open:checked + .menu-open-button .hamburger-2 {
  -webkit-transform: translate3d(0, 0, 0) scale(0.1, 1);
  transform: translate3d(0, 0, 0) scale(0.1, 1);
}
.menu-open:checked + .menu-open-button .hamburger-3 {
  -webkit-transform: translate3d(0, 0, 0) rotate(-45deg);
  transform: translate3d(0, 0, 0) rotate(-45deg);
}

.menu {
  position: absolute;
  left: 50%;
  margin-left: -179px;
  padding-top: 20px;
  padding-left: 190px;
  width: 380px;
  height: 250px;
  box-sizing: border-box;
  font-size: 20px;
  text-align: left;
}

.menu-item:hover {
  background: white;
  color: purple;
}
.menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}
.menu-item:nth-child(4) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}
.menu-item:nth-child(5) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}
.menu-item:nth-child(6) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}
.menu-item:nth-child(7) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}
.menu-item:nth-child(8) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}
.menu-item:nth-child(9) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
}

.menu-open-button {
  z-index: 2;
  -webkit-transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
  -webkit-transition-duration: 400ms;
  transition-duration: 400ms;
  -webkit-transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  transform: scale(1.1, 1.1) translate3d(0, 0, 0);
  cursor: pointer;
}

.menu-open-button:hover {
  -webkit-transform: scale(1.2, 1.2) translate3d(0, 0, 0);
  transform: scale(1.2, 1.2) translate3d(0, 0, 0);
}

.menu-open:checked + .menu-open-button {
  -webkit-transition-timing-function: linear;
  transition-timing-function: linear;
  -webkit-transition-duration: 200ms;
  transition-duration: 200ms;
  -webkit-transform: scale(0.8, 0.8) translate3d(0, 0, 0);
  transform: scale(0.8, 0.8) translate3d(0, 0, 0);
}

.menu-open:checked ~ .menu-item {
  -webkit-transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
  transition-timing-function: cubic-bezier(0.935, 0, 0.34, 1.33);
}
.menu-open:checked ~ .menu-item:nth-child(3) {
  -webkit-transition-duration: 180ms;
  transition-duration: 180ms;
  -webkit-transform: translate3d(0.08361px, -104.99997px, 0);
  transform: translate3d(0.08361px, -104.99997px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(4) {
  -webkit-transition-duration: 280ms;
  transition-duration: 280ms;
  -webkit-transform: translate3d(90.9466px, -52.47586px, 0);
  transform: translate3d(90.9466px, -52.47586px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(5) {
  -webkit-transition-duration: 380ms;
  transition-duration: 380ms;
  -webkit-transform: translate3d(90.9466px, 52.47586px, 0);
  transform: translate3d(90.9466px, 52.47586px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(6) {
  -webkit-transition-duration: 480ms;
  transition-duration: 480ms;
  -webkit-transform: translate3d(0.08361px, 104.99997px, 0);
  transform: translate3d(0.08361px, 104.99997px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(7) {
  -webkit-transition-duration: 580ms;
  transition-duration: 580ms;
  -webkit-transform: translate3d(-90.86291px, 52.62064px, 0);
  transform: translate3d(-90.86291px, 52.62064px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(8) {
  -webkit-transition-duration: 680ms;
  transition-duration: 680ms;
  -webkit-transform: translate3d(-91.03006px, -52.33095px, 0);
  transform: translate3d(-91.03006px, -52.33095px, 0);
}
.menu-open:checked ~ .menu-item:nth-child(9) {
  -webkit-transition-duration: 780ms;
  transition-duration: 780ms;
  -webkit-transform: translate3d(-0.25084px, -104.9997px, 0);
  transform: translate3d(-0.25084px, -104.9997px, 0);
}

/* PAGE ACCUEIL--------------------------------------------- */
/* intertitre__________________________________________ */
.bgblue {
  background: 										#fff;
}

.container{
  padding-top: 2%;
}
.titre {
  text-align: center;
}

.intro {
  margin-top: 40px;
  margin-bottom: 40px;
	font-size: 1em;
}

h3 {
	font-family:               'Anton', sans-serif;
	font-size:                  1.5em;
	color:                      black;
	text-align:                 center;
}

.border-ligne {
		border-width:1px;
		border-style:solid;
		border-color:black;
		width: 100%;
		margin-bottom: 1%;
		margin-top: 3%;
}
/* corps du texte __________________________________________*/
.cascade {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
}

.taille-image {
  width: 100%;
}

 .recrutdev {
   background: #4fa9f9de;
}
.pagerecrutdev{
  background-image: url("../images/community.png");
  position: relative;
  background-size: cover;
}

/* PAGE CONTACT __ PAGE INSCRIPTION__ PAGE__CONNECTION_______________________________________________________________ */
.bgContact {
  background: url("../images/fond5.jpg") no-repeat center center;
	background-size: 					131%;
	background-attachment: 		fixed;
}

.bgConnexion {
  background: url("../images/fond6.jpg") no-repeat center center;
	background-size: 					100%;
	background-attachment: 		fixed;
}
.bgInscription{
  background: url("../images/fond11.jpg") no-repeat center center;
	background-size: 					100%;
	background-attachment: 		fixed;
}

.titrehome {
	font-family:               'Anton', sans-serif;
  font-size:                  3em;
  color:                      white;
	margin: 										20px 20px;
}

.row a {
 text-decoration: none;
}

/* PAGE CONTACT */


.formulaireContact {
    display: flex;
    flex-direction: column;
    margin: -9vh 34vw 5vh 34vw;
    border: #89B5B1 solid 2px;
    box-shadow: 1px 1px 12px #555;
    background: #184d96;
}

.caseAlignement {
	display: 										flex;
	flex-direction: 						column;
	align-content: 							center;
	justify-content: 						center;
	padding: 										1vh 2vw;
}

.formulaireContact h2 {
	font-family:               'Anton', sans-serif;
	margin: 										8vh 0;
  color: 											#E8E8E8;
	font-size: 									2.5rem;
  text-align: 								center;
}

.lignedestinataire {
	display: 										flex;
	flex-direction: 						column;
}

.lignedestinataire p {
	color: 											#E8E8E8;
	padding:		 								0 0 1vh 5vw;
	font-size: 									1.2em;
}

.formulaireContact .contactLabel {
	color: 											#E8E8E8;
	text-align: 								left;
	font-size: 									1.2em;
}


.documentLabel {
	color: 											#E8E8E8;
	margin: 										2vh 5vw 0 5vw;
	font-size: 									1.3em;
	font-weight: 								bold;
	border: 										solid 2px #E8E8E8;
	background-color: 					inherit;
	padding: 										2vh 2vw;
	cursor: 										pointer;
	text-align: 								center;
}


.input-file {
	opacity: 										0;
}

.preview {
	color: 											#E8E8E8;
	text-align: 								center;
	margin: 										2vh 5vw;
}

.envoyer {
	font-size: 									1em;
	font-weight: 								bold;
	border: 										solid 2px #E8E8E8;
	background-color: 					inherit;
	margin: 										5vh 15vw;
	padding: 										2vh 2vw;
	color: 											#E8E8E8;
	cursor: 										pointer;
}

.envoyer:hover, .envoyer:active {
	border: 										solid 4px #1F645A;
}
.documentLabel:hover, .documentLabel:active {
	border: 										solid 4px #1F645A;
}

@media screen and (max-width: 1200px) {
			.bgContact {
				background-size: 					342%;
			}
      .formulaireContact
      {
        margin: 									0 8vw 5vh 8vw;
        padding: 									0 0 9vh 0;
      }

      .formulaireContact h2
      {
        margin: 									5vh 0;
        font-size: 								2em;
      }

      .formulaireContact .contactLabel
      {
        font-size: 								1em;
      }

       .formulaireConnexion .contactInput, select {
        margin: 									2vh 5vw;
        padding: 									1.5vh 1vw;
        font-size: 								0.8em;
      }

      textarea {
      margin: 										2vh 5vw 0 5vw;
      }

      .envoyer {
        margin: 									0 28vw;
        padding: 									1vh 7vw;
      }
}

/* le FAQ --------------------------------------------------------------------*/


.accordion , .hfaq {
  width: 64%;
  margin: 2vh auto;
}
.card-header {
  background: #7cd4ff;
}

/* la communauté --------------------------------------------------------------*/
.bgblue {
  background: #8dc5e9;
}

.btn-floating i {
    font-size: 1.25rem;
    line-height: 47px;
    display: inline-block;
    width: inherit;
    text-align: center;
    color: #fff;
}

élément {
}
.carousel-multi-item .controls-top .btn-floating {
    background: #4285f4;
}
a.waves-effect, a.waves-light {
    display: inline-block;
}
.btn-floating {
    box-shadow: 0 5px 11px 0 rgba(0,0,0,.18),0 4px 15px 0 rgba(0,0,0,.15);
    width: 47px;
    height: 47px;
    position: relative;
    z-index: 1;
    display: inline-block;
    overflow: hidden;
    -webkit-transition: all .2s ease-in-out;
    -o-transition: all .2s ease-in-out;
    transition: all .2s ease-in-out;
    margin: 10px;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    padding: 0;
  }

  .controls-top {
    display: -webkit-flex;
    display: flex;
    -webkit-align-items: center;
    align-items: center;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    margin-bottom: 1em;
  }

  .carousel-indicators .active {
    opacity: 0;
}

/* ACTUALITES___________________________________ */

.actualites-geekzone {
	width: 55%;
	margin: 5vh auto;
}

/* #actuGeekzone{

padding: 5vw;
padding-top: 5vw;
padding-right: 5vw;
padding-bottom: 5vw;
padding-left: 5vw;
font-size: 2em;
margin: 8vh;
margin-top: 8vh;
margin-right: 8vh;
margin-bottom: 8vh;
margin-left: 8vh;
padding-top: 3vw;
padding-right: -1vw;
margin-right: -12vh;
} */
h4{
	font-size: 2em;
}

.actu{
    /* border: black, solid;
    background-color: white;
    width: 60%;
    margin-left: 25%; */
		color: 											#E8E8E8;
		margin: 										2vh 5vw 0 5vw;
		font-size: 									1.3em;
		font-weight: 								bold;
		border: 										solid 2px #E8E8E8;
		background-color: 					inherit;
		cursor: 										pointer;
		text-align: 								left;
}

/* FOOTER________________________________________________________ */
#footer {
	display: flex;
	justify-content: space-around;
}

.icone {
	display:flex;
	justify-content: flex-end;
	justify-content: space-around;
	padding:10px;
	font-size: 180%;
}
